* {
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.fondo_blanco{
    background-color: white;
    position: relative;
    top: 25px;
    height: 700px; 
}

header {
    border: solid 1px rgb(0, 0, 0);
    height: 140px;
    /* background: rgb(231, 127, 90); */
}

.sub_header{
    margin-top: 15px;
}

.logo_bosch{
    width: 950px;
    margin: 0px 0px 0px 25px;
    float: left;
    /* background-color: darkorange; */
}

.logo_bosch > img {
    width: 185px;
    left: 25px;
    border: 1px solid #0000;
}

.user_profile{
    width: 190px;
    height: 45px;
    float: right;
    /* background-color: darkorange; */
}

.subtitle{
    font-family: Arial;
    font-size: 20px;
    margin: 0px 0px 10px 25px;
    float: left;
    /* background-color: rgb(224, 174, 37); */
    /* background-color: yellow; */
    clear: both;
}

.search{
    font-family: Arial;
    margin: 0px 0px 0px 25px;
    clear: both;
    /* background-color: blue; */
}

.search input[type="text"]{
    width: 270px;
    height: 20px;
}

.search input[type="checkbox"]{
    margin: 0px 0px 0px 5px;
    width: 20px;
}

/* .caja_todos{

} */

/* ---------------------------------------------------------------------------------------------------------------- */

.workflow{
    width: 590px;
    height: 100%;
    margin: 20px 0px 0px 25px;
    border: 1px solid black;
    float: left;
}

#text_plan, #text_approvals, #caja_comments {
    resize: none;
    width: 525px;
    height: 95px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

h1 {
    font-size: 15px;
    margin: 20px 0px 15px 20px;
}

h2 {
    font-size:14px;
    font-weight: normal;
}

.caja_plan {
    text-align: center;
    margin-bottom: 15px;
}

.caja_plan > h2 {
    margin: 0px 0px 10px 31px;
    text-align: left;
}

.caja_approvals{
    text-align: center;
    margin-bottom: 15px;
}

.caja_approvals > h2 {
    margin: 0px 0px 10px 31px;
    text-align: left;
}

.caja_comments {
    text-align: center;
    margin-bottom: 45px;
}

.caja_comments > h2 {
    margin: 0px 0px 10px 31px;
    text-align: left;
}


/* ---------------------------------------------------------------------------------------------------------------- */

.view_tickets{
    border: 1px solid darkblue;
    width: 590px;
    height: 100%;
    margin: 20px 25px 0px 25px;
    border: 1px solid black;
    float: right;
}